---
interface Props {
  title: string;
  description: string;
  page?: "travel" | "blog";
  slug?: string | undefined;
  frontmatter?: {
    file: string;
    url: string | undefined;
  } & {
    title: string;
    description: string;
    pubDate: string;
    minutesRead: string;
  };
}

const { title, description, page, slug, frontmatter } = Astro.props;
const image = `${Astro.url.origin}/og-image.png`;

const schema ={
    "@context": "http://schema.org",
    "@type": "Person",
    name: "Kaicheng",
    url: "https://kaimhere.tech",
    sameAs: [
      "https://www.linkedin.com/in/kaicheng-zhou-b33a40253/",
      "https://github.com/ramonzhou",
    ],
    image: "https://kaimhere.tech/og-image.png",
    jobTitle: "Software Developer / Student"
  };
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="/favicon/sitemap-index.xml" />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || "https://kaimhere.tech/og-image.png"}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || "https://kaimhere.tech/og-image.png"}
    />
    <!-- QQ tags -->
    <meta itemprop="name" content={title} />
    <meta itemprop="image" content="https://kaimhere.tech/thumbnail.png" />
    <meta itemprop="description" content="Open to opportunity!" />

    <link rel="preconnect" href="https://cdn.fontshare.com" />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <!-- WeChat tags -->
    <script>
      var WECHAT_TITLE = "Kaicheng's Portfolio";
      var WECHAT_DESC = "Open to opportunity!";
      var WECHAT_IMG = "https://kaimhere.tech/thumbnail.png";
      var WECHAT_NO_GA = "";
    </script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CQGZCP7GP5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CQGZCP7GP5');
  </script>
  <body
    class="bg-darkslate-700 md:h-screen font-serif"
  >
    <slot name="loader" />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }

  body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: "Cabinet Grotesk", sans-serif; */
  }
  p {
    /* font-family: "Satoshi"; */
  }

  b {
    font-weight: 900 !important;
  }
</style>
